body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

.App {
  text-align: center;
}

header {
  background-color: inherit;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
